.menu{
    
    
    
    
}
body{
    background-color:whitesmoke;
    
}
.grid{
    
    
    
    
    
}
.grid img{
    border: 2px solid black;
    border-radius: 50px;
}
.origami {
    
    
    
    
    
    
}
